[submodule "libplist-src/libplist"]
	path = libplist-src/libplist
	url = https://github.com/libimobiledevice/libplist
[submodule "libusbmuxd-src/libusbmuxd"]
	path = libusbmuxd-src/libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd
[submodule "libimobiledevice-src/libimobiledevice"]
	path = libimobiledevice-src/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice
[submodule "libirecovery-src/libirecovery"]
	path = libirecovery-src/libirecovery
	url = https://github.com/libimobiledevice/libirecovery
